.project-1-xn .vector-12 {
  width: 13.5px;
  height: 26.9px;
}
.project-1-xn .xnlove-button {
  border-radius: 27.2px;
  background: #5D5D5D;
  position: relative;
  margin: 6px 0 5.6px 0;
  padding: 13.5px 17.9px 14px 17.9px;
  width: 54.4px;
  height: 54.4px;
  box-sizing: border-box;
}
.project-1-xn .love {
  overflow-wrap: break-word;
  font-family: 'Inria Serif';
  font-weight: 700;
  font-size: 55px;
  color: #000000;
}
.project-1-xn .container-1 {
  margin-bottom: 191px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 738.8px;
  box-sizing: border-box;
}
.project-1-xn .love-story {
  border-radius: 10px;
  background: url('../assets/images/love_story.png') 50% / cover no-repeat;
  margin-right: 70px;
  width: 279px;
  height: 279px;
}
.project-1-xn .love-story-taylor-swift {
  margin-bottom: 25px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 40px;
  color: #000000;
}
.love-story-taylor-swift-sub-0 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 40px;
  line-height: 1.333;
  color: #716E6E;
}
.project-1-xn .pc-2-spotify-1 {
  background: url('../assets/images/pngegg_301.png') 50% / cover no-repeat;
  margin: 3px 22px 3px 0;
  width: 50px;
  height: 49px;
}
.project-1-xn .pc-2-apple-1 {
  background: url('../assets/images/pngegg_291.png') 50% / cover no-repeat;
  width: 55px;
  height: 55px;
}
.project-1-xn .project-2-button-1 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 127px;
  box-sizing: border-box;
}
.project-1-xn .container-10 {
  margin: 90px 0 11px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.project-1-xn .container-2 {
  margin: 0 8px 94px 8px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.project-1-xn .perfect {
  border-radius: 10px;
  background: url('../assets/images/perfect.png') 50% / cover no-repeat;
  margin-right: 70px;
  width: 279px;
  height: 279px;
}
.project-1-xn .perfect-ed-sheeran {
  margin-bottom: 27px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 40px;
  color: #000000;
}
.perfect-ed-sheeran-sub-0 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 40px;
  line-height: 1.333;
  color: #716E6E;
}
.project-1-xn .pc-2-spotify-2 {
  background: url('../assets/images/pngegg_301.png') 50% / cover no-repeat;
  margin: 3px 22px 3px 0;
  width: 50px;
  height: 49px;
}
.project-1-xn .pc-2-apple-2 {
  background: url('../assets/images/pngegg_291.png') 50% / cover no-repeat;
  width: 55px;
  height: 55px;
}
.project-1-xn .project-2-button-2 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 127px;
  box-sizing: border-box;
}
.project-1-xn .container-9 {
  margin: 94px 0 7px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.project-1-xn .container-5 {
  margin: 0 8px 94px 8px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.project-1-xn .photograph {
  border-radius: 10px;
  background: url('../assets/images/photograph.jpeg') 50% / cover no-repeat;
  margin-right: 70px;
  width: 279px;
  height: 279px;
}
.project-1-xn .photograph-ed-sheeran {
  margin-bottom: 25px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 40px;
  color: #000000;
}
.photograph-ed-sheeran-sub-0 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 40px;
  line-height: 1.333;
  color: #716E6E;
}
.project-1-xn .pc-2-spotify-3 {
  background: url('../assets/images/pngegg_301.png') 50% / cover no-repeat;
  margin: 3px 22px 3px 0;
  width: 50px;
  height: 49px;
}
.project-1-xn .pc-2-apple-3 {
  background: url('../assets/images/pngegg_291.png') 50% / cover no-repeat;
  width: 55px;
  height: 55px;
}
.project-1-xn .project-2-button-3 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 127px;
  box-sizing: border-box;
}
.project-1-xn .container-4 {
  margin: 92px 0 9px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.project-1-xn .container-3 {
  margin: 0 8px 94px 8px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.project-1-xn .container-22 {
  margin: 0 8px 94px 8px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.project-1-xn .pasilyo {
  border-radius: 10px;
  background: url('../assets/images/pasilyo.png') 50% / cover no-repeat;
  margin-right: 70px;
  width: 279px;
  height: 279px;
}
.project-1-xn .pasilyo-sun-kissed-lola {
  margin-bottom: 25px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 40px;
  color: #000000;
}
.pasilyo-sun-kissed-lola-sub-0 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 40px;
  line-height: 1.333;
  color: #716E6E;
}
.project-1-xn .pc-2-spotify-4 {
  background: url('../assets/images/pngegg_301.png') 50% / cover no-repeat;
  margin: 3px 22px 3px 0;
  width: 50px;
  height: 49px;
}
.project-1-xn .pc-2-apple-4 {
  background: url('../assets/images/pngegg_291.png') 50% / cover no-repeat;
  width: 55px;
  height: 55px;
}
.project-1-xn .project-2-button-4 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 127px;
  box-sizing: border-box;
}
.project-1-xn .container-8 {
  margin: 92px 0 9px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.project-1-xn .jay-chou {
  margin: 0 8px 94px 8px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.project-1-xn .container {
  border-radius: 10px;
  background: url('../assets/images/image.jpeg') 50% / cover no-repeat;
  margin-right: 70px;
  width: 279px;
  height: 279px;
}

.jay-chou-sub-0 {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 40px;
  line-height: 1.333;
  color: #716E6E;
}
.project-1-xn .jay-chou {
  margin-bottom: 27px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 40px;
  color: #000000;
}

.project-1-xn .container-7 {
  margin: 126px 0 9px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.project-1-xn .pc-2-spotify-5 {
  background: url('../assets/images/pngegg_301.png') 50% / cover no-repeat;
  margin: 3px 22px 3px 0;
  width: 50px;
  height: 49px;
}
.project-1-xn .pc-2-apple-5 {
  background: url('../assets/images/pngegg_291.png') 50% / cover no-repeat;
  width: 55px;
  height: 55px;
}
.project-1-xn .project-2-button-5 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 127px;
  box-sizing: border-box;
}
.project-1-xn .container-6 {
  margin: 0 8px 94px 8px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.project-1-xn {
  background: #EDC4D6;
  display: flex;
  flex-direction: column;
  padding: 32px 0 124px 47px;
  width: 1440px;
  box-sizing: border-box;
}
